* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
h1 {
    color: darkmagenta;
}

.container {
    box-shadow:0 0 5px darkslategrey;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    border-radius: 5px;
    gap: 10px;
}

button {
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
    color: blue;
}
button:hover{
    background-color: burlywood;
}
#displayValue {
    font-size: 25px;
    padding: 5px 15px;
    border: 1px solid black;
  }

.middle-content{
    margin: 5px 0px;
}